repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: 9a790d2bbf52124eecb5a71a4bab4884804ffa2a
  hooks:
    - id: terraform_fmt
      args:
        - --args=-recursive
    - id: terraform_validate
      args:
        - --args=-json
        - --hook-config=--retry-once-with-cleanup=true
    - id: terraform_docs
      args:
        - --args=--config=.terraform-docs.yaml
    - id: terraform_tflint
      args:
        - --args=--config=.tflint.hcl
        - --args=--init

- repo: https://github.com/bridgecrewio/checkov.git
  rev: 1062e319049f50300185fcf082bdeff241c5019c
  hooks:
    - id: checkov
      args:
        - --output=cli
        - --quiet
        - --compact

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c
  hooks:
    - id: trailing-whitespace
      args: 
        - --markdown-linebreak-ext=md

    # end of file fixer broken for terraform docs
    #- id: end-of-file-fixer

    - id: check-merge-conflict
    - id: check-case-conflict
    - id: check-yaml
    - id: check-json
    - id: check-toml
    - id: detect-private-key
    - id: check-added-large-files
      args:
        - --maxkb=1000

- repo: https://github.com/Yelp/detect-secrets
  rev: 01886c8a910c64595c47f186ca1ffc0b77fa5458
  hooks:
    - id: detect-secrets
      args:
        - --baseline
        - .secrets.baseline
        - --exclude-files
        - '.*\.terraform\.lock\.hcl'
        - --exclude-files
        - '.*\tests.*\.hcl'
